# Feature Engineering for KKBox Churn Prediction

As I already mentioned in the **Literature Survey** that feature engineering is critical for this challenge. And without good feature engineering I cannot achieve my objective. The majority of the features comming from univariate analysis that I performed. And few from the interaction of two variables.

I can start with some of the basic feature engineering, which include some basic statistics and interactive features.

### Loading the train and test datasets-

In [1]:
# importing libraries

import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# loading the files

train_dataset = pd.read_csv('Preprocessed Data/train.csv')
test_dataset = pd.read_csv('Preprocessed Data/test.csv')

In [3]:
# getting head of train file
pd.set_option('display.max_columns', 100)
train_dataset.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,5.0,28.0,1.0,3.0,2013-12-23,0.0,30.0,149.0,149.0,2.0,2017-03-16,2017-04-19,2.0,2017-03-05,7.0,0.0,3.0,0.0,71.0,68.0,17599.893
1,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,5.0,28.0,1.0,3.0,2013-12-23,0.0,30.0,149.0,149.0,2.0,2017-03-16,2017-04-19,2.0,2017-03-01,2.0,0.0,0.0,1.0,21.0,16.0,8830.433
2,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,5.0,28.0,1.0,3.0,2013-12-23,0.0,30.0,149.0,149.0,2.0,2017-03-16,2017-04-19,2.0,2017-03-19,0.0,0.0,0.0,0.0,34.0,17.0,7883.313
3,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,5.0,28.0,1.0,3.0,2013-12-23,0.0,30.0,149.0,149.0,2.0,2017-03-16,2017-04-19,2.0,2017-03-16,15.0,0.0,0.0,1.0,38.0,17.0,9029.227
4,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,5.0,28.0,1.0,3.0,2013-12-23,0.0,30.0,149.0,149.0,2.0,2017-03-16,2017-04-19,2.0,2017-03-10,0.0,0.0,0.0,0.0,8.0,8.0,1870.110

In [4]:
# getting head of test file
pd.set_option('display.max_columns', 100)
test_dataset.head()

,msno,is_churn,city,bd,gender,registered_via,registration_init_time,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,4n+fXlyJvfQnTeKXTWT507Ll4JVYGrOC8LHCfwBmPE4=,0,1.0,28.0,0.0,7.0,2015-07-18,41.0,30.0,99.0,99.0,1.0,2017-03-18,2017-04-18,0.0,2017-03-16,2.0,0.0,0.0,0.0,14.0,16.0,3880.765
1,aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=,0,4.0,28.0,1.0,9.0,2005-10-30,34.0,30.0,149.0,149.0,1.0,2017-03-31,2017-04-30,0.0,2017-03-08,2.0,4.0,0.0,0.0,14.0,16.0,3880.765
2,aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=,0,4.0,28.0,1.0,9.0,2005-10-30,34.0,30.0,149.0,149.0,1.0,2017-03-31,2017-04-30,0.0,2017-03-19,2.0,2.0,3.0,0.0,34.0,57.0,10333.911
3,aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=,0,4.0,28.0,1.0,9.0,2005-10-30,34.0,30.0,149.0,149.0,1.0,2017-03-31,2017-04-30,0.0,2017-03-01,15.0,2.0,0.0,0.0,14.0,16.0,3880.765
4,aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=,0,4.0,28.0,1.0,9.0,2005-10-30,34.0,30.0,149.0,149.0,1.0,2017-03-31,2017-04-30,0.0,2017-03-07,3.0,2.0,0.0,1.0,13.0,16.0,3826.011

In [5]:
# Feature - 1 (getting weekday from date)

# getting weekday from the date feature for train data
train_dataset['date'] = pd.to_datetime(train_dataset['date'], errors='coerce')
train_dataset['day_of_the_week'] = train_dataset['date'].dt.day_name().values

# getting weekday from the date feature for test data
test_dataset['date'] = pd.to_datetime(test_dataset['date'], errors='coerce')
test_dataset['day_of_the_week'] = test_dataset['date'].dt.day_name().values

In [6]:
# Feature - 2 (checking for the weekend)

train_dataset['is_weekend'] = train_dataset['day_of_the_week'].apply(lambda x: 1 if (x == 'Saturday') or (x == 'Sunday') else 0)
test_dataset['is_weekend'] = test_dataset['day_of_the_week'].apply(lambda x: 1 if (x == 'Saturday') or (x == 'Sunday') else 0)

In [7]:
# Feature - 3 (checking for the weekday)

train_dataset['is_weekday'] = train_dataset['is_weekend'].apply(lambda x: 1 if (x == 0) else 0)
test_dataset['is_weekday'] = test_dataset['is_weekend'].apply(lambda x: 1 if (x == 0) else 0)

In [8]:
%%time
# Feature - 4 to 12 (sum based features)
# Feature - 13 to 19 (mean based features)
# Feature - 20 to 27 (standard deviation based features)
# Feature - 28 (nunique based feature)
# Feature - 29 and 30 (min and max based features)
# Feature - 31 to 33 (mean based features for transaction)
# Feature - 34 (transaction count)
# Feature - 35 (transaction date max)
# Feature - 36 (membership expiry date max)
# Feature - 37 (membership expiry date count)

def std(x):
    '''finding standard deviation using numpy,
    to avoid getting nan values'''
    return np.std(x)

# grouping them together for train data
temp_df_train = train_dataset.groupby('msno').agg(num_25_sum=('num_25', 'sum'),
                                num_50_sum=('num_50', 'sum'),
                                num_75_sum=('num_75', 'sum'),
                                num_985_sum=('num_985', 'sum'),
                                num_100_sum=('num_100', 'sum'),
                                num_unq_sum=('num_unq', 'sum'),
                                total_secs_sum=('total_secs', 'sum'),
                                is_weekend_sum=('is_weekend', 'sum'),
                                is_weekday_sum=('is_weekday', 'sum'),
                                num_25_mean=('num_25', 'mean'),
                                num_50_mean=('num_50', 'mean'),
                                num_75_mean=('num_75', 'mean'),
                                num_985_mean=('num_985', 'mean'),
                                num_100_mean=('num_100', 'mean'),
                                num_unq_mean=('num_unq', 'mean'),
                                total_secs_mean=('total_secs', 'mean'),
                                num_25_std=('num_25', std),
                                num_50_std=('num_50', std),
                                num_75_std=('num_75', std),
                                num_985_std=('num_985', std),
                                num_100_std=('num_100', std),
                                num_unq_std=('num_unq', std),
                                total_secs_std=('total_secs', std),
                                active_days=('date', 'nunique'),
                                date_min=('date', 'min'),
                                date_max=('date', 'max'),
                                payment_plan_days_mean=('payment_plan_days', 'mean'),
                                plan_list_price_mean=('plan_list_price', 'mean'),
                                actual_amount_paid_mean=('actual_amount_paid', 'mean'),
                                transaction_date_count=('transaction_date', 'nunique'),
                                transaction_date_max=('transaction_date', 'max'),
                                membership_expire_date_max=('membership_expire_date', 'max'),
                                membership_expire_count=('membership_expire_date', 'nunique'))
# merging them with the train dataset
train_dataset = pd.merge(train_dataset, temp_df_train, on='msno', how='left')

# grouping them together for test data
temp_df_test = test_dataset.groupby('msno').agg(num_25_sum=('num_25', 'sum'),
                                num_50_sum=('num_50', 'sum'),
                                num_75_sum=('num_75', 'sum'),
                                num_985_sum=('num_985', 'sum'),
                                num_100_sum=('num_100', 'sum'),
                                num_unq_sum=('num_unq', 'sum'),
                                total_secs_sum=('total_secs', 'sum'),
                                is_weekend_sum=('is_weekend', 'sum'),
                                is_weekday_sum=('is_weekday', 'sum'),
                                num_25_mean=('num_25', 'mean'),
                                num_50_mean=('num_50', 'mean'),
                                num_75_mean=('num_75', 'mean'),
                                num_985_mean=('num_985', 'mean'),
                                num_100_mean=('num_100', 'mean'),
                                num_unq_mean=('num_unq', 'mean'),
                                total_secs_mean=('total_secs', 'mean'),
                                num_25_std=('num_25', std),
                                num_50_std=('num_50', std),
                                num_75_std=('num_75', std),
                                num_985_std=('num_985', std),
                                num_100_std=('num_100', std),
                                num_unq_std=('num_unq', std),
                                total_secs_std=('total_secs', std),
                                active_days=('date', 'nunique'),
                                date_min=('date', 'min'),
                                date_max=('date', 'max'),
                                payment_plan_days_mean=('payment_plan_days', 'mean'),
                                plan_list_price_mean=('plan_list_price', 'mean'),
                                actual_amount_paid_mean=('actual_amount_paid', 'mean'),
                                transaction_date_count=('transaction_date', 'nunique'),
                                transaction_date_max=('transaction_date', 'max'),
                                membership_expire_date_max=('membership_expire_date', 'max'),
                                membership_expire_count=('membership_expire_date', 'nunique'))
# merging them with the test dataset
test_dataset = pd.merge(test_dataset, temp_df_test, on='msno', how='left')

CPU times: user 10min 47s, sys: 26.2 s, total: 11min 13s
Wall time: 11min 4s

In [9]:
# Feature - 38 (activity period)

train_dataset['date_min'] = pd.to_datetime(train_dataset['date_min'], errors='coerce')
train_dataset['date_max'] = pd.to_datetime(train_dataset['date_max'], errors='coerce')

test_dataset['date_min'] = pd.to_datetime(test_dataset['date_min'], errors='coerce')
test_dataset['date_max'] = pd.to_datetime(test_dataset['date_max'], errors='coerce')

train_dataset['activity_period'] = (train_dataset['date_max'] - train_dataset['date_min']).dt.days + 1
test_dataset['activity_period'] = (test_dataset['date_max'] - test_dataset['date_min']).dt.days + 1

In [10]:
# Feature - 39 (inactive days)

train_dataset['inactive_days'] = train_dataset['date'].nunique() - train_dataset['active_days']
test_dataset['inactive_days'] = test_dataset['date'].nunique() - test_dataset['active_days']

In [11]:
# Feature - 40 (rare behaviour)
# 0 (for not rare user) and 1 (for rare user)

train_dataset['is_rare'] = train_dataset['active_days'].apply(lambda x: 0 if (x > 1) else 1)
test_dataset['is_rare'] = test_dataset['active_days'].apply(lambda x: 0 if (x > 1) else 1)

In [12]:
# Feature - 41 (average time per day)

train_dataset['avg_time_perday'] = train_dataset['total_secs_sum'] / train_dataset['active_days']
test_dataset['avg_time_perday'] = test_dataset['total_secs_sum'] / test_dataset['active_days']


# Feature - 42 (unique tracks played per day)

train_dataset['unq_track_perday'] = round(train_dataset['num_unq_sum'] / train_dataset['active_days'])
test_dataset['unq_track_perday'] = round(test_dataset['num_unq_sum'] / test_dataset['active_days'])


# Feature - 43 (tracks played till 25% length per day)

train_dataset['till_25_perday'] = round(train_dataset['num_25_sum'] / train_dataset['active_days'])
test_dataset['till_25_perday'] = round(test_dataset['num_25_sum'] / test_dataset['active_days'])


# Feature - 44 (tracks played till 50% length per day)

train_dataset['till_50_perday'] = round(train_dataset['num_50_sum'] / train_dataset['active_days'])
test_dataset['till_50_perday'] = round(test_dataset['num_50_sum'] / test_dataset['active_days'])


# Feature - 45 (tracks played till 75% length per day)

train_dataset['till_75_perday'] = round(train_dataset['num_75_sum'] / train_dataset['active_days'])
test_dataset['till_75_perday'] = round(test_dataset['num_75_sum'] / test_dataset['active_days'])


# Feature - 46 (tracks played till 98.5% length per day)

train_dataset['till_985_perday'] = round(train_dataset['num_985_sum'] / train_dataset['active_days'])
test_dataset['till_985_perday'] = round(test_dataset['num_985_sum'] / test_dataset['active_days'])


# Feature - 47 (tracks played till 100% length per day)

train_dataset['till_full_perday'] = round(train_dataset['num_100_sum'] / train_dataset['active_days'])
test_dataset['till_full_perday'] = round(test_dataset['num_100_sum'] / test_dataset['active_days'])

In [13]:
# Feature - 48 (discount)

train_dataset['discount'] = train_dataset['plan_list_price'] - train_dataset['actual_amount_paid']
test_dataset['discount'] = test_dataset['plan_list_price'] - test_dataset['actual_amount_paid']

In [14]:
train_dataset['discount'].unique()

array([   0.,  149.,  180., -149.,   30., -119., -129.,  120.,   20.,
         50., -100.,   -1.,   99.,  129.,    1.])

In [15]:
# since there are several values which are less than 0 for various reasons
# so it's always good to set a lower limit, here I can set 0
train_dataset['discount'] = train_dataset['discount'].clip(lower=0)
test_dataset['discount'] = test_dataset['discount'].clip(lower=0)

In [16]:
# Feature - 49 (is_discount)

train_dataset['is_discount'] = train_dataset['discount'].apply(lambda x: 1 if (x > 0) else 0)
test_dataset['is_discount'] = test_dataset['discount'].apply(lambda x: 1 if (x > 0) else 0)

In [17]:
# Feature - 50 (days since final login)
# Threshold that I set here is the last date, which is 31-03-2017

train_dataset['days_since_last_login'] = (pd.to_datetime(train_dataset['date'].unique().max(), errors='coerce') - train_dataset['date_max']).dt.days
test_dataset['days_since_last_login'] = (pd.to_datetime(test_dataset['date'].unique().max(), errors='coerce') - test_dataset['date_max']).dt.days

In [18]:
train_dataset['membership_expire_date_max'] = pd.to_datetime(train_dataset['membership_expire_date_max'], errors='coerce')
test_dataset['membership_expire_date_max'] = pd.to_datetime(test_dataset['membership_expire_date_max'], errors='coerce')

train_dataset['days_left'] = (train_dataset['membership_expire_date_max'] - pd.to_datetime(train_dataset['date'].unique().max(), errors='coerce')).dt.days
test_dataset['days_left'] = (test_dataset['membership_expire_date_max'] - pd.to_datetime(test_dataset['date'].unique().max(), errors='coerce')).dt.days

In [19]:
# Since there are many negative values so I can set them to 0
train_dataset['days_left'] = train_dataset['days_left'].clip(lower=0)
test_dataset['days_left'] = test_dataset['days_left'].clip(lower=0)

In [20]:
# Feature - 51 (Loyality range)

train_dataset['transaction_date_max'] = pd.to_datetime(train_dataset['transaction_date_max'], errors='coerce')
test_dataset['transaction_date_max'] = pd.to_datetime(test_dataset['transaction_date_max'], errors='coerce')
train_dataset['registration_init_time'] = pd.to_datetime(train_dataset['registration_init_time'], errors='coerce')
test_dataset['registration_init_time'] = pd.to_datetime(test_dataset['registration_init_time'], errors='coerce')

train_dataset['layality_range'] = (train_dataset['transaction_date_max'] - train_dataset['registration_init_time']).dt.days
test_dataset['layality_range'] = (test_dataset['transaction_date_max'] - test_dataset['registration_init_time']).dt.days

In [21]:
# Feature - 52 (price per day)

train_dataset['Perday_price'] = train_dataset['actual_amount_paid'] / train_dataset['payment_plan_days']
test_dataset['Perday_price'] = test_dataset['actual_amount_paid'] / test_dataset['payment_plan_days']

In [22]:
# Feature - 53 (days since final transaction)

train_dataset['days_since_final_transaction'] = (pd.to_datetime(train_dataset['date'].unique().max(), errors='coerce') - train_dataset['transaction_date_max']).dt.days
test_dataset['days_since_final_transaction'] = (pd.to_datetime(test_dataset['date'].unique().max(), errors='coerce') - test_dataset['transaction_date_max']).dt.days

In [23]:
# all features in train data
train_dataset.columns

Index(['msno', 'is_churn', 'city', 'bd', 'gender', 'registered_via',
       'registration_init_time', 'payment_method_id', 'payment_plan_days',
       'plan_list_price', 'actual_amount_paid', 'is_auto_renew',
       'transaction_date', 'membership_expire_date', 'is_cancel', 'date',
       'num_25', 'num_50', 'num_75', 'num_985', 'num_100', 'num_unq',
       'total_secs', 'day_of_the_week', 'is_weekend', 'is_weekday',
       'num_25_sum', 'num_50_sum', 'num_75_sum', 'num_985_sum', 'num_100_sum',
       'num_unq_sum', 'total_secs_sum', 'is_weekend_sum', 'is_weekday_sum',
       'num_25_mean', 'num_50_mean', 'num_75_mean', 'num_985_mean',
       'num_100_mean', 'num_unq_mean', 'total_secs_mean', 'num_25_std',
       'num_50_std', 'num_75_std', 'num_985_std', 'num_100_std', 'num_unq_std',
       'total_secs_std', 'active_days', 'date_min', 'date_max',
       'payment_plan_days_mean', 'plan_list_price_mean',
       'actual_amount_paid_mean', 'transaction_date_count',
       'transaction_date_max', 'membership_expire_date_max',
       'membership_expire_count', 'activity_period', 'inactive_days',
       'is_rare', 'avg_time_perday', 'unq_track_perday', 'till_25_perday',
       'till_50_perday', 'till_75_perday', 'till_985_perday',
       'till_full_perday', 'discount', 'is_discount', 'days_since_last_login',
       'days_left', 'layality_range', 'Perday_price',
       'days_since_final_transaction'],
      dtype='object')

**Since data is very large so storing them by changing the default datatype to custom datatype can reduce the size of new csv files.**

In [24]:
# reference: https://medium.com/@vincentteyssier/optimizing-the-size-of-a-pandas-dataframe-for-low-memory-environment-5f07db3d72e
# reference: https://numpy.org/doc/stable/reference/generated/numpy.iinfo.html
# reference: https://numpy.org/doc/stable/reference/generated/numpy.finfo.html

def datatype_changer(dataset):
    # iterating through all the columns in the dataframe
    for col in dataset.columns:
        # getting column's datatype
        col_type = dataset[col].dtype
        
        # checking if datatype of column is 'object' or not
        # if column type is not object
        if (col_type == int) or (col_type == float):
            # getting minimum value of a column
            min_val = dataset[col].min()
            # getting maximum value of a column
            max_val = dataset[col].max()
            # checking whether the datatype contain first 3 characters as int or not, if int
            if str(col_type)[:3] == 'int':
                # cheking the minimal and maximal value for int8, int16, int32 and int64 in numpy
                if min_val > np.iinfo(np.int8).min and max_val < np.iinfo(np.int8).max:
                    dataset[col] = dataset[col].astype(np.int8)
                elif min_val > np.iinfo(np.int16).min and max_val < np.iinfo(np.int16).max:
                    dataset[col] = dataset[col].astype(np.int16)
                elif min_val > np.iinfo(np.int32).min and max_val < np.iinfo(np.int32).max:
                    dataset[col] = dataset[col].astype(np.int32)
                else:
                    dataset[col] = dataset[col].astype(np.int64)
            else:
                # if it is non int, which is ultimately float
                # cheking the minimal and maximal value for float16, float32 and float64 in numpy
                if min_val > np.finfo(np.float16).min and max_val < np.finfo(np.float16).max:
                    dataset[col] = dataset[col].astype(np.float16)
                elif min_val > np.finfo(np.float32).min and max_val < np.finfo(np.float32).max:
                    dataset[col] = dataset[col].astype(np.float32)
                else:
                    dataset[col] = dataset[col].astype(np.float64)
        else:
            # keeping rest of them to category datatype instead of object
            dataset[col] = dataset[col].astype('category')
            
    # returning head of the dataframe
    return dataset

In [25]:
train_dataset = datatype_changer(train_dataset)

In [26]:
test_dataset = datatype_changer(test_dataset)

In [27]:
# saving train file

train_dataset.to_csv('Data after Feature Engineering/train_FA.csv', index=False)

In [28]:
# saving test file

test_dataset.to_csv('Data after Feature Engineering/test_FA.csv', index=False)

## Summary - 

The main highlight of the feature engineering is: -

**1. Almost all of the important features I achieved from transactions and user logs.**

**2. Basic stats features might be useful, that's why I extracted them.**

**3. I also created some interactive features, few of them comes for the litererature survey, and few by observing data and existing features.**

**4. Ultimately at the end I have 72 features. Total 74 but one is 'msno' and second is 'is_churn'.**

**5. The size of the dataset is very large. 1) train file size - 9.61 GB and 2) test file size - 7.79 GB.**